@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

*,
html,
body{
  font-family: 'Poppins', sans-serif;

}

.label{
  color:rgb(255, 255, 255);
  background: #494949;
  width: 100vw;
  font-size: 5rem;
  /* white-space: nowrap; */
  padding: 15px;
}

.canvas{
  height: 90vh;
  overflow: hidden;
  position: fixed;
  background: transparent;
}

.nav{
  padding: 20px;
  /* border-left: 2px solid black; */
  height: 6vh
}

#contact{
  background-color: #eb3434;
  border: 2px solid black;
  height: 7vh;
}

.app{
  background: url(/weALTt.PNG);
  background-size: cover;
  background-position: center;

}

.text{
  user-select: none;
  position: fixed;
}
/* 
#about{
  width: 100vw;
  height: 100vh;
} */

.nav:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}